.background {
  fill: #212024;
}

.cls-26 {
  fill: #000000;
}

.territory-0,
.territory-1,
.territory-2,
.territory-3,
.territory-4,
.territory-5,
.territory-6,
.territory-7,
.territory-8,
.territory-9,
.territory-10,
.territory-11,
.territory-12,
.territory-13,
.territory-14,
.territory-15,
.territory-16,
.territory-17,
.territory-18,
.territory-19,
.territory-20,
.territory-21,
.territory-22,
.territory-23,
.territory-24,
.territory-25,
.territory-26,
.territory-27,
.territory-28,
.territory-29,
.territory-30,
.territory-31,
.territory-32,
.territory-33,
.territory-34,
.territory-35,
.territory-36,
.territory-37,
.territory-38,
.territory-39,
.territory-40,
.territory-41 {
  stroke: rgb(255, 255, 255);
  stroke-width: 1.5px;
}

.territory-0:hover,
.territory-1:hover,
.territory-3:hover,
.territory-4:hover,
.territory-5:hover,
.territory-6:hover,
.territory-7:hover,
.territory-8:hover,
.territory-9:hover,
.territory-10:hover,
.territory-11:hover,
.territory-12:hover,
.territory-13:hover,
.territory-14:hover,
.territory-15:hover,
.territory-16:hover,
.territory-17:hover,
.territory-18:hover,
.territory-19:hover,
.territory-20:hover,
.territory-21:hover,
.territory-22:hover,
.territory-23:hover,
.territory-24:hover,
.territory-25:hover,
.territory-26:hover,
.territory-27:hover,
.territory-28:hover,
.territory-29:hover,
.territory-30:hover,
.territory-31:hover,
.territory-32:hover,
.territory-33:hover,
.territory-34:hover,
.territory-35:hover,
.territory-36:hover,
.territory-37:hover,
.territory-38:hover,
.territory-39:hover,
.territory-40:hover,
.territory-41:hover {
  fill: rgb(250, 250, 250);
}

.territory-0 {
  fill: #b40202;
}

.territory-1 {
  fill: #000000;
}

.territory-2 {
  fill: #176d4c;
}

.territory-3 {
  fill: #141414;
}

.territory-4 {
  fill: #000000;
}

.territory-5 {
  fill: #e4d3c3;
}

.territory-6 {
  fill: #000000;
}

.territory-7 {
  fill: #5c0d0d;
}

.territory-8 {
  fill: #030097;
}

.territory-9 {
  fill: #676969;
}

.territory-10 {
  fill: #0cb5e9;
}

.territory-11 {
  fill: #000000;
}

.territory-12 {
  fill: #031e27;
}

.territory-13 {
  fill: #000000;
}

.territory-14 {
  fill: #000000;
}

.territory-15 {
  fill: #080c18;
}

.territory-16 {
  fill: #000000;
}

.territory-17 {
  fill: #39393b;
}

.territory-18 {
  fill: #081847;
}

.territory-19 {
  fill: #02217c;
}

.territory-20 {
  fill: #1a0300;
}

.territory-21 {
  fill: #640c0c;
}

.territory-22 {
  fill: #791717;
}

.territory-23 {
  fill: #000000;
}

.territory-24 {
  fill: #5c0505;
}

.territory-25 {
  fill: #ff504a;
}

.territory-26 {
  fill: #000000;
}

.territory-27 {
  fill: #000000;
}

.territory-28 {
  fill: #28850e;
}

.territory-29 {
  fill: #6e776c;
}

.territory-30 {
  fill: #8a1470;
}

.territory-31 {
  fill: #37ff00;
}

.territory-32 {
  fill: #000000;
}

.territory-33 {
  fill: #104b00;
}

.territory-34 {
  fill: #c0ffac;
}

.territory-35 {
  fill: #155204;
}

.territory-36 {
  fill: #4b5049;
}

.territory-37 {
  fill: #000000;
}

.territory-38 {
  fill: #c004d1;
}

.territory-39 {
  fill: #a30505;
}

.territory-40 {
  fill: #721d79;
}

.territory-41 {
  fill: #5c0e63;
}
