.cls-26 {
    fill: #ffffff;
}

.cls-1 {
    fill: #375bd2;
}

.territory-0,
.territory-1,
.territory-2,
.territory-3,
.territory-4,
.territory-5,
.territory-6,
.territory-7,
.territory-8,
.territory-9,
.territory-10,
.territory-11,
.territory-12,
.territory-13,
.territory-14,
.territory-15,
.territory-16,
.territory-17,
.territory-18,
.territory-19,
.territory-20,
.territory-21,
.territory-22,
.territory-23,
.territory-24,
.territory-25,
.territory-26,
.territory-27,
.territory-28,
.territory-29,
.territory-30,
.territory-31,
.territory-32,
.territory-33,
.territory-34,
.territory-35,
.territory-36,
.territory-37,
.territory-38,
.territory-39,
.territory-40,
.territory-41 {
    stroke: rgb(255, 255, 255);
    stroke-width: 1.5px;
}

.territory-0:hover,
.territory-1:hover,
.territory-2:hover,
.territory-3:hover,
.territory-4:hover,
.territory-5:hover,
.territory-6:hover,
.territory-7:hover,
.territory-8:hover,
.territory-9:hover,
.territory-10:hover,
.territory-11:hover,
.territory-12:hover,
.territory-13:hover,
.territory-14:hover,
.territory-15:hover,
.territory-16:hover,
.territory-17:hover,
.territory-18:hover,
.territory-19:hover,
.territory-20:hover,
.territory-21:hover,
.territory-22:hover,
.territory-23:hover,
.territory-24:hover,
.territory-25:hover,
.territory-26:hover,
.territory-27:hover,
.territory-28:hover,
.territory-29:hover,
.territory-30:hover,
.territory-31:hover,
.territory-32:hover,
.territory-33:hover,
.territory-34:hover,
.territory-35:hover,
.territory-36:hover,
.territory-37:hover,
.territory-38:hover,
.territory-39:hover,
.territory-40:hover,
.territory-41:hover {
    fill: #ffffff;
}

.territory-0 {
    fill: #fd8f00;
}

.territory-1 {
    fill: #ce811c;
}

.territory-2 {
    fill: #8f714b;
}

.territory-3 {
    fill: #8b5712;
}

.territory-4 {
    fill: #f3b769;
}

.territory-5 {
    fill: #a76003;
}

.territory-6 {
    fill: #f8dfbf;
}

.territory-7 {
    fill: #50422f;
}

.territory-8 {
    fill: #fd8f00;
}

.territory-9 {
    fill: #5154f1;
}

.territory-10 {
    fill: #1f2180;
}

.territory-11 {
    fill: #0004ff;
}

.territory-12 {
    fill: #040672;
}

.territory-13 {
    fill: #012525;
}

.territory-14 {
    fill: #06caca;
}

.territory-15 {
    fill: #4dfafa;
}

.territory-16 {
    fill: #268888;
}

.territory-17 {
    fill: #3f6969;
}

.territory-18 {
    fill: #016e6e;
}

.territory-19 {
    fill: #15d4d4;
}

.territory-20 {
    fill: #ff0000;
}

.territory-21 {
    fill: #d30000;
}

.territory-22 {
    fill: #9e0000;
}

.territory-23 {
    fill: #660000;
}

.territory-24 {
    fill: #ff2424;
}

.territory-25 {
    fill: #ff5454;
}

.territory-26 {
    fill: #15ff00;
}

.territory-27 {
    fill: #000000;
}

.territory-28 {
    fill: #28850e;
}

.territory-29 {
    fill: #6e776c;
}

.territory-30 {
    fill: #8a1470;
}

.territory-31 {
    fill: #37ff00;
}

.territory-32 {
    fill: #000000;
}

.territory-33 {
    fill: #104b00;
}

.territory-34 {
    fill: #c0ffac;
}

.territory-35 {
    fill: #155204;
}

.territory-36 {
    fill: #4b5049;
}

.territory-37 {
    fill: #000000;
}

.territory-38 {
    fill: #c004d1;
}

.territory-39 {
    fill: #a30505;
}

.territory-40 {
    fill: #721d79;
}

.territory-41 {
    fill: #5c0e63;
}
